@charset "UTF-8";
html {
	padding: 20px;
}
body {
	font-family: Helvetica, Calibri, "sans-serif";
	background-color: #AD00FF;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

h1{
	text-align: center;
	border-bottom: solid thin #000;
	padding-top: 12px;
	padding-bottom: 10px;
}

h2{
	text-align: center;
	border-top: solid thin #000;
	border-bottom: solid thin #000;
	background-color: #c0c0c0;
	padding-top: 12px;
	padding-bottom: 10px;
}

h3{
	margin-top: 0px;
	margin-bottom: 0px;
}

.year {
	float: right;
	width: 200px;
	text-align: right;
}

.date {
	float: right;
}

#content {
	float:right;
	width: 70%;
	vertical-align: bottom;
	padding: 5px;
}

#content-center {
	text-align: center;
	vertical-align: bottom;
	padding: 5px;
}

#content-italic {
	font-style: italic;
}
footer {
	clear: both;
	top-border: think solid #000;
	text-align: center;
}
footer span{
	align:right;
	width: 350px;
}
